/* Базовые стили */

* {
    box-sizing: border-box;
    font-family: "PT Sans", sans-serif !important;
    margin: 0;
    color: #374E42;
    padding: 0;
}

body {
    margin: 0;

    font-family: "PT Sans", sans-serif !important;
    width: 100%;
    overflow-x: hidden;
}

body > div {
    overflow-x: hidden;
}

a {
    text-decoration: none;

    color: inherit;
}

a:hover,
button:hover {
    cursor: pointer;
}

a,
button {
    cursor: pointer !important;
}

input {
    font-family: "PT Sans", sans-serif;
    outline: none;
}

body ::-webkit-scrollbar {
    display: none;
}

.redDot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    top: 0;
    right: 0;
}

.profileButton:hover .redDot {
    display: none;
}

.needAction {
    display: none;
    font-size: 12px;
    background: #fff;
    border: 1px solid #ccc;
    width: 110px;
    text-align: center;
    z-index: 999999;
}

.profileButton:hover .needAction {
    display: block;
    position: absolute;
    top: -20px;
    left: 60%;
    transform: translateX(-50%);
}

.popup {
    position: fixed;
    z-index: 100;
    left: 10px;
    bottom: 10px;
    overflow: auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 25px;
    padding: 15px;
    display: none;
    flex-direction: column;
    justify-content: center !important;
    max-width: 300px;
    width: 100%;
    z-index: 99999999999 !important;
}

.popup figure {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.popup img {
    width: 80%;
}

.popup h1 {
    font-size: 24px;
    color: rgb(97, 129, 98);
    margin: 0 0 20px;
    text-align: center;
}

.popup p {
    font-size: 16px;
    color: #666;
    margin: 0 0 20px;
    max-width: 360px;
    width: 100%;
    text-align: center;
}

.popup-buttons {
    display: flex;
    justify-content: center;
}

.popup button {
    background-color: rgb(97, 129, 98);
    color: white;
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
}

/* Адаптивность */

@media (max-width: 768px) {
    body {
        padding-top: 0px !important;
    }

    .top-bar,
    .bottom-bar {
        flex-direction: column;

        align-items: flex-start;
    }

    .contact-info,
    .menu-buttons,
    .account-buttons {
        justify-content: space-between;

        width: 100%;
    }

    .bottom-bar {
        align-items: center;
    }

    .company-logo {
        height: 60px;

        margin-bottom: 10px;
    }

    .search-container {
        width: 100%;
    }

    .search-input {
        border-radius: 25px;
    }

    .product-card {
        flex-direction: column;

        align-items: center;
    }

    .product-image {
        width: 100%;

        height: auto;

        margin-bottom: 20px;
    }

    .product-info {
        align-items: center;

        text-align: center;
    }

    .product-actions {
        margin-left: 0;

        margin-top: 20px;

        flex-direction: column;
    }

    .delivery-time {
        position: static;

        margin-top: 10px;
    }

    .similar-products .product-item {
        width: 100%;

        margin-bottom: 20px;
    }
}

.maintext {
    width: 100%;
    padding: 10px 0;
    font-size: 18px;
    position: sticky;
    top: 179px;
    background: rgb(97, 129, 98);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 999999 !important;
}

@media (max-width: 768px) {
    .maintext {
        font-size: 16px;
        position: sticky;
        top: 0 !important;
    }
}
