.payment-info {
  display: flex;
  align-items: center;
  width: 100%;
}

.payment-info img {
  margin-left: 10px;
  cursor: pointer;
  height: 25px; /* высота, равная высоте поля ввода */
}

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 5; /* Увеличен z-index, чтобы окно отображалось поверх хедера */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f9f9f9;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}
