.top-bar {
    background-color: rgb(97, 129, 98);

    color: white;

    display: flex;

    justify-content: center;
    padding: 10px 20px;
    align-items: center;

    width: 100%;

    box-sizing: border-box;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 10;
}

.top-bar > section {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
}

.contact-info {
    display: flex;

    align-items: center;

    margin-right: auto;
}

.contact-info > :last-child:hover {
    background: rgba(0, 0, 0, 0.1);
}

.contact-info a {
    color: white;
    height: 20px;

    text-decoration: none;

    font-size: 16px;
}

.contact-info a:hover img {
    opacity: 0.8;
}

.contact-info a:hover {
    background: none !important;
}

.contact-info img {
    width: 18px;
    height: 18px;
    margin-left: 2px;
}

.contact-info > :nth-child(4) {
    margin-left: 10px;
}

.menu-buttons {
    display: flex;

    align-items: center;

    margin-left: auto;
}

.menu-button {
    color: white;

    font-size: 16px;

    padding: 10px;

    background-color: rgb(97, 129, 98);

    border: none;

    border-radius: 0;
}

.menu-button:hover {
    opacity: 0.7;
}

.bottom-bar {
    display: flex;

    justify-content: center;

    align-items: center;

    padding: 20px;

    background-color: #f9f9f9;

    box-sizing: border-box;

    position: fixed;

    top: 60px; /* Отступ для второй шапки */

    left: 0;

    width: 100%;

    z-index: 1;
}

.bottom-bar-content {
    display: flex;

    justify-content: space-between;

    align-items: center;

    width: 100%;

    max-width: 1000px;

    padding: 0 20px; /* Сдвигаем элементы от краев */
}

.company-logo {
    height: 80px; /* Используем такую же высоту, как в футере */

    margin-right: 20px;
    cursor: pointer;
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.search-container > section {
    display: flex;

    align-items: center;

    width: 80%;

    background-color: #f0f0f0; /* Светло-серый фон */

    border: 2px solid #666;

    border-radius: 25px;

    padding: 5px;

    margin: 0 auto; /* Центровка поисковой строки */
}

.search-input {
    width: calc(100% - 40px);

    padding: 10px;

    border: none;

    border-radius: 25px 0 0 25px;

    font-size: 16px;

    flex: 1;

    background-color: #f0f0f0; /* Светло-серый фон */

    outline: none; /* Убираем внутреннюю рамку */
}

.search-input:focus {
    outline: none; /* Убираем внутреннюю рамку при фокусе */
}

.search-button {
    padding: 10px;

    border: none;

    background: none;

    cursor: pointer;
}

.search-button img {
    width: 20px;

    height: 20px;
}

.account-buttons {
    display: flex;

    align-items: center;

    margin-left: auto;
}

.account-buttons a {
    margin-left: 20px;
    position: relative;
}

.account-buttons img {
    width: 25px; /* Задаем высоту значков */

    height: 25px; /* Задаем высоту значков */
}
.menuButton {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    display: none;
}

.menuButton img {
    width: 100%;
}

@media (max-width: 1200px) {
    header {
        position: fixed;

        top: 0;

        width: 100%;

        z-index: 100;

        background-color: white;

        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    /* Стили для хедера на странице корзины */

    .cart-page header {
        position: relative;

        box-shadow: none;
    }
}

@media (max-width: 768px) {
    .top-bar,
    .bottom-bar {
        position: static;
        padding: 10px;
    }

    .top-bar {
        align-items: center;
        position: relative;
    }

    .contact-info,
    .menu-buttons {
        padding: 0;
    }

    .contact-info {
        align-items: center;
        gap: 10px;
        width: fit-content;
    }

    .menu-buttons > a {
        display: none;
    }

    .menu-buttons > :nth-child(2) {
        display: block;
    }

    .contact-info > :last-child {
        display: none;
    }

    .bottom-bar-content {
        align-items: center;
        padding: 0;
    }

    .search-container {
        width: 70%;
    }

    .account-buttons a {
        margin: 0 3px;
    }

    .search-container section {
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .account-buttons {
        margin-top: 10px;

        justify-content: flex-start;
        width: auto;
    }

    .company-logo {
        width: 70px;
        height: auto;
    }
}

.search-container {
    position: relative;
}
.search-results {
    display: none;
    position: absolute;
    top: 58px;
    background: white;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    border-top: none;
}
.search-result-item {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}
.search-result-item:hover {
    background: #f0f0f0;
}

.cart-float {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: rgb(158, 184, 158);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    top: -5px;
    right: -5px;
}

.cart-float p {
    margin: 0;
    padding: 0;
}

.profileButton {
    position: relative;
    display: flex;
    flex-direction: column;
}

.profileButton .account_actions {
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40px;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 150px;
}

.account_actions button {
    background: rgb(158, 184, 158);
    color: white;
    border: none;
    padding: 5px 10px;
    width: 150px;
    margin: 10px 0;
    border-radius: 25px;
}

.account_actions.show {
    display: flex;
}

@media (max-width: 475px) {
    .top-bar {
        padding: 5px;
        overflow: hidden;
    }

    .menu-button {
        padding: 7px;
        margin: 0;
    }

    .menuButton {
        display: flex;
        position: absolute;
        right: 10px;
        top: 14px;
    }

    .contact-info {
        display: none;
    }
}
